<ion-header>
  <ion-navbar>
    <ion-title>Booking Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <ion-icon name="custom-excel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="canvas_div_pdf" id="canvas_div_pdf">
    <div class="div">
      <ion-row>
        <ion-col col-12 style="text-align: center;">
          <img src="assets/imgs/sign.jpg" style="height: 20px;" />
        </ion-col>
      </ion-row>
    </div>
    <div class="div">
      <ion-row style="border-bottom: 1px solid black; background-color: rgb(252, 224, 221);">
        <ion-col col-12>
          <p style="margin: 0px; font-weight: 500;">Customer Details</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-9 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">FULL NAME</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">CONTRACT NUMBER</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-9 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">{{items.customer_id.customer_full_name}}</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.contract_no ? items.customer_id.contract_no : null}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">DRIVER LICENCE</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">VALID UNTIL (DATE)</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">NATIONALITY</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">TELEPHONE</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.driving_license.dl_number ? items.customer_id.driving_license.dl_number : null}}</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.driving_license.valid_upto ? (items.customer_id.driving_license.valid_upto | date:'shortDate') : null}}
          </p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.nationality ? items.customer_id.nationality : null}}</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.customer_phone ? items.customer_id.customer_phone : null}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">IDENTITY CARD / PASSPORT</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">VALID UNTIL (DATE)</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">DATE OF BIRTH</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">EMAIL</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.icard_detail ? items.customer_id.icard_detail.icard_number : null}}</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.icard_detail ? (items.customer_id.icard_detail.valid_upto | date:'shortDate') : null}}
          </p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.date_of_birth ? (items.customer_id.date_of_birth | date:'shortDate') : null}}</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.email_id ? items.customer_id.email_id : null}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-9 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">PERMANENT ADDRESS</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">CITY</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.customer_id.customer_address ? items.customer_id.customer_address : null}}</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;"></p>
        </ion-col>
      </ion-row>
    </div>
    <div class="div">
      <ion-row>
        <ion-col col-6 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em;text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(content_one)">

          </p>
        </ion-col>
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(content_two)">
          </p>
        </ion-col>
      </ion-row>
    </div>
    <!-- <div class="div" *ngIf="signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
        <ion-col col-6>
          <img [src]="signature" style="height: 35px; width: 100%;" />
        </ion-col>
      </ion-row>
    </div> -->
    <div class="div">
      <ion-row>
        <ion-col col-6 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em;text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(tempOne)">

          </p>
        </ion-col>
        <ion-col col-6>

        </ion-col>
      </ion-row>
    </div>
    <div class="div">
      <ion-row style="border-bottom: 1px solid black; background-color: rgb(252, 224, 221);">
        <ion-col col-12>
          <p style="margin: 0px; font-weight: 500;">Vehicle Details</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">VEHICLE NUMBER</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">FUEL LEVEL</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">TOTAL PRICE</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">{{items.device.Device_Name}}</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;"></p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;"></p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">PICKUP DATE</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">EXPECTED RETURN DATE</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">BRAND</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">MODEL</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.pickup_date ? (items.pickup_date | date:'shortDate') : null}}</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.expected_return_date ? (items.expected_return_date | date:'shortDate') : null}}</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">{{items.Vehicle_brand}}</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;">
            {{items.device.vehicleType.model ? items.device.vehicleType.model : null}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">PRICE/DAY</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">PRICE/MONTH</p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: black;">HOME DELIVERY</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: black;">DAMAGE LIMIT</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;"></p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;"></p>
        </ion-col>
        <ion-col col-3 style="border-right: 1px solid black;">
          <p style="margin: 0px; font-size: 0.8em; color: gray;">{{items.home_delivery ? items.damage_limit : null}}</p>
        </ion-col>
        <ion-col col-3>
          <p style="margin: 0px; font-size: 0.8em; color: gray;">{{items.damage_limit ? items.damage_limit : null}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="div">
      <ion-row>
        <ion-col col-12>
          <p style="margin: 0px; font-size: 0.8em; text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(content_three)">
          </p>
        </ion-col>
      </ion-row>
    </div>
    <!-- <div class="div" *ngIf="signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
        <ion-col col-6>
          <img [src]="signature" style="height: 35px; width: 100%;" />
        </ion-col>
      </ion-row>
    </div> -->
    <div class="div">
      <ion-row>
        <ion-col col-12>
          <p style="margin: 0px; font-size: 0.8em; text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(tempTwo)">
          </p>
        </ion-col>
      </ion-row>
    </div>
    <!-- <div class="div" *ngIf="signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
        <ion-col col-6>
          <img [src]="signature" style="height: 35px; width: 100%;" />
        </ion-col>
      </ion-row>
    </div> -->
    <div class="div">
      <ion-row>
        <ion-col col-12>
          <p style="margin: 0px; font-size: 0.8em; text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(tempThree)">
          </p>
        </ion-col>
      </ion-row>
    </div>
    <!-- <div class="div" *ngIf="signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
        <ion-col col-6>
          <img [src]="signature" style="height: 35px; width: 100%;" />
        </ion-col>
      </ion-row>
    </div> -->
    <div class="div">
      <ion-row>
        <ion-col col-12>
          <p style="margin: 0px; font-size: 0.8em; text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(tempFour)">
          </p>
        </ion-col>
      </ion-row>
    </div>
    <!-- <div class="div" *ngIf="signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
        <ion-col col-6>
          <img [src]="signature" style="height: 35px; width: 100%;" />
        </ion-col>
      </ion-row>
    </div> -->
    <div class="div">
      <ion-row>
        <ion-col col-12>
          <p style="margin: 0px; font-size: 0.8em; text-align: justify;"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(tempFive)">
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div class="div">
      <ion-row>
        <ion-col col-6 *ngIf="items.images[0]">
          <div class="img_container">
            <img src="{{items.images[0].fileUrl}}" style="height: 120px; width: 100%;" />
          </div>
        </ion-col>
        <ion-col col-6 *ngIf="items.images[1]">
          <div class="img_container">
            <img src="{{items.images[1].fileUrl}}" style="height: 120px; width: 100%;" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 *ngIf="items.images[2]">
          <div class="img_container">
            <img src="{{items.images[2].fileUrl}}" style="height: 120px; width: 100%;" />
          </div>
        </ion-col>
        <ion-col col-6 *ngIf="items.images[3]">
          <div class="img_container">
            <img src="{{items.images[3].fileUrl}}" style="height: 120px; width: 100%;" />
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="div" *ngIf="signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-6>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
        <ion-col col-6>
          <img [src]="signature" style="height: 35px; width: 100%;" />
        </ion-col>
      </ion-row>
    </div>
    <div class="div" *ngIf="!signature">
      <ion-row style="border-bottom: 1px solid black;">
        <ion-col col-12>
          <p style="margin: 0px; font-size: 0.8em;">CUSTOMER SIGNATURE</p>
        </ion-col>
      </ion-row>
      <ion-row [ngClass]="{'drawing-active': isDrawing}">
        <ion-col col-10>
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
          </signature-pad>
        </ion-col>
        <ion-col col-2>
          <button ion-button block color="gpsc" (click)="savePad()">SAVE</button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>